*{
    margin: 0;
    padding: 0;
    font-family: Outfit;
}

body {
    height: 100vh;
}

main{
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 15px 15px 45px 15px;
    gap: 1rem;
}


div > p:first-of-type{
    font-weight: 700;
    font-size: 20px;
    width: 18ch;

}

div > p:last-of-type{
    color: rgb(180, 180, 180);
    width: 25ch;
}

div > p {
    text-align: center;
}

div > img{
    width: 275px;
    border-radius: 10px;
    /* border: 2px solid red; */
    /* padding-bottom: 1rem; */
}